@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-toolbar.mat-primary[_ngcontent-c0] {
    background: #ff4040;
    color: #fff;
}
.mat-toolbar.mat-primary[_ngcontent-c0] {
    background: #ff4040;
    color: #fff;
}